*{
    box-sizing: border-box;
}
header {
    background-color: whitesmoke;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: black;
}
header a {
    display: flex;
    color: black;
    
}
