*{
    box-sizing:border-box;
}
header b {
    background-color:whitesmoke ;
    display: block;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    justify-content: center;
}