* {
    box-sizing: border-box;
}
body {
    background-color: lightskyblue;
    display: flex;
}
header {
    font-size: medium;
    border-bottom: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
div a {
    background: gainsboro;
    display: inline-flex;
    padding:10px;
    color: black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.form-input {
    max-width: 500px;
    width: 100px;

    margin-right: auto;
}
input{
    display: block;
    background-color: chocolate;
    border-radius: 15px;
    border: none;
    margin-bottom: none;
}
